<!-- views/index.ejs -->
<!doctype html>
<html>

<head>
  <title>Chaira Authentication</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <!-- load bootstrap css -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <!-- load fontawesome -->
  <style>
    body {
      padding-top: 80px;
    }
  </style>
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h2><span class="fa fa-lock"></span> Passport-Chaira</h1>
        <a href="/auth/chaira" class="btn btn-default"><span class="fa fa-user"></span> Iniciar sesión con Chairá</a>
    </div>

  </div>
</body>

</html>